body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

body > div,
body > div > input {
    margin: 10px;
}

.add-task-form {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 30px;
}

[class*="header"] {
    background: ivory;
    font-weight: bold;
}

.table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.row {
    height: 25px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    border: 1px solid silver;
    border-collapse: collapse;
}

.is-done {
    text-decoration: line-through;
    color: grey !important;
}

[class*="col1"] {
    width: 10%;
}

[class*="col2"] {
    width: 70%;
}

[class*="col3"] {
    width: 20%;
}

div {
    text-align: center;
}

.important {
    color: red;
    font-weight: bold;

}